---
import '../styles/global.css';
// Component Imports
import {Button} from '../components/ui/button.tsx';
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Portfolio Home">
    <div class="flex flex-col items-center justify-center min-h-screen gap-3">
        <h1 class="text-xl font-bold text-primary">Welcome to My Portfolio</h1>
        <p>This is the homepage of my portfolio website built with Astro.</p>
        <Button><a href="/projects">View my projects</a></Button>
    </div>
</MainLayout>
