---
import '../styles/global.css';
// Component Imports
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Portfolio Home">
    <div class="flex flex-col items-center justify-center min-h-screen gap-3">
        <h1 class="text-xl font-bold text-primary">Projects</h1>
        <p>A project's showcase</p>
    </div>
</MainLayout>