---
import '../../styles/global.css';
// Component Imports
import MainLayout from "@/layouts/MainLayout.astro";
import ProjectCard from '@/components/ProjectCard.tsx';

// Content
import {type CollectionEntry, getCollection} from 'astro:content';
import type {Project} from "@/Types.ts";

const projects: CollectionEntry<'projects'>[] = (await getCollection('projects')).sort(
    // Sort by most recent creation date
    (a, b) => b.data.created_at.localeCompare(a.data.created_at)
);
---

<MainLayout title="Portfolio Home">
    <div class="flex flex-col items-center max-w-11/12 m-auto pt-5 min-h-screen gap-3">
        <h1 class="text-3xl font-bold text-primary">Projects</h1>
        <p>
            A collection of my personal and professional projects showcasing my skills and experience.
        </p>

        <div class="grid grid-cols-1 gap-5 mt-10 md:grid-cols-2">
            {projects.map(project => (
                    <ProjectCard project={project.data}/>
            ))}
        </div>

    </div>
</MainLayout>