---
import '../styles/global.css';
import Navbar from "@/components/Navbar.tsx";
import GitHubIcon from "@/components/icons/GitHubIcon.tsx";
import LinkedInIcon from "@/components/icons/LinkedInIcon.tsx";

const {title} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>{title}</title>
</head>
<body>
<header>
    <Navbar client:load/>
</header>
<main>
    <slot/>
</main>
<footer>
    <div class="mt-10 bg-slate-800">
        <p class="text-center text-gray-500 pt-5">Contact information</p>
        <div class="flex flex-row justify-center gap-5 p-3 text-gray-500">
            <p>
                <a href="https://www.linkedin.com/in/yannick-van-kerckvoorde-901ab61ba/" target="_blank">
                    <LinkedInIcon/>
                </a>
            </p>
            <p>
                <a href="https://github.com/Yannick-Vk" target="_blank">
                    <GitHubIcon/>
                </a>
            </p>
        </div>
        <p class="text-center text-sm pb-5 text-gray-500">© {new Date().getFullYear()} Yannick-Vk's Portfolio. All
            rights reserved.</p>
    </div>
</footer>
</body>
</html>
